* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg-color: #ffffff;
  --header-font-color: #000000;
  --main-font-color: #000000;
  --accent-text-color: #3f96f3;
  --input-border-placeholder-color: #838383;
  --secondary-text-color: #6f6f6f;
  --recipes-bg-color: #0a2750;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-image: url(../images/background_header.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-sizing: border-box;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: Noto Serif, Times New Roman, serif;
  font-style: italic;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-family: Noto Serif, Times New Roman, serif;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  display: flex;
  margin: auto 0 0;
  justify-content: space-between;
  color: #6f6f6f;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.header__paragraph {
  margin: 0;
  align-self: flex-end;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0 30px;
}

.nav__links {
  margin: 8px 0 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-top: 30px;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
